* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #a62349;
}

.generator {
  height: 95%;
  margin: 0 60px 20px 60px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-body {
  display: flex;
  flex-direction: row;
}

.lower-bound {
  width: 30%;
  margin: 15px;
  background-color: #f2f2f2;
  padding: 20px;
  transition: box-shadow 0.5s;
  border-radius: 10px;
  border: 1px solid #ccc;
  /* box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3); */
}

.lower-bound:hover {
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.3);
}

legend {
  font-weight: bold;
  color: #a62349;
  font-size: 30px;
}

.lower-bound label {
  width: 150px;
  display: inline-block;
  font-weight: bold;
  margin: 10px 30px 10px 50px;
}

input[type='text'] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.5s;
}

input[type='text']:hover {
  width: 150px;
}
