<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <fieldset>
    <legend>-----ADD REPORT-----</legend>
    <input name="name" type="text" placeholder="NAME" formControlName="name" />
    <br />
    <input
      name="location"
      type="text"
      placeholder="LOCATION"
      formControlName="location"
    /><br />
    <input
      name="phone"
      type="text"
      placeholder="PHONE"
      formControlName="phone"
    /><br />
    <input
      name="breed"
      type="text"
      placeholder="BREED"
      formControlName="breed"
    /><br />
    <input
      name="pid"
      type="text"
      placeholder="PID"
      formControlName="pid"
    /><br />
    <input
      name="extra"
      type="text"
      placeholder="EXTRA"
      formControlName="extra"
    /><br />
    <button class="btn btn-outline-primary" [disabled]="!form.valid">
      ADD
    </button>
  </fieldset>
</form>
